.Navbar{
    background: #363636;
    height: 11.22vh;
}
.nav-list{
    color: white;
}
.nav-item{
    display: flex;
    align-items: center;
    gap:5px;
}

.search input{
    width: 	20.60vw;
    min-width: 30.60vw;
}
.toogle-nav{
    color: white;
    background: #2c2c2c;
}
.toogle-nav ul{
    padding: 5%;
    /* background: #000; */
}
.toogle-nav ul li{
    display: flex;
    padding: 2%;
    border-bottom: 0.2px solid rgb(133, 133, 133);
    
    /* flex-direction: column; */
    justify-content: center;
}