.bg-div-overview{
    margin-top: 0;
    height: 90.67vh;
    background:#6BE6A8;
    clip-path: ellipse(100% 100% at 50% 100%);
    transform: rotate(180deg)
}
.overview-text{
    z-index: 10000000;
}